/* Styles for forms */

.category-form, .sort-form {
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

.category-form label, .sort-form label {
    font-weight: bold;
    margin-right: 15px;
    color: #333;
}

.category-form select, .sort-form select {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    background: #f9f9f9;
}

.category-form input[type="submit"], .sort-form input[type="submit"] {
    padding: 10px 25px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.category-form input[type="submit"]:hover, .sort-form input[type="submit"]:hover {
    background-color: #555;
}

.login-form {
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #f9f9f9;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #555;
}
